* {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  /* border: 1px solid red; */
}

body{
  width: 100%;
}

.hero-page {
  background-image: url(./images/NG-en-20240708-POP_SIGNUP_TWO_WEEKS-perspective_WEB_1df1b8f0-e470-45ab-9d2d-2756cfb7df4e_small.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.7)),
    url(./images/NG-en-20240708-POP_SIGNUP_TWO_WEEKS-perspective_WEB_1df1b8f0-e470-45ab-9d2d-2756cfb7df4e_small.jpg);

  padding-bottom: 10%;
  /* filter: brightness(0.8); */
}

.hero-page h1 {
  color: white;
  width: 70%;
  margin-inline: auto;
  font-size: 3em;
  text-align: center;
}

.hero-page p {
  color: white;
  font-size: 1.4em;
  text-align: center;
}

#email {
  margin-inline: 23%;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 1em;
  align-items: center;
  /* width: 100%; */
}

#email input {
  padding-block: 15px;
  padding-inline: 20%;
  border-radius: 5px;
  background-color: black;
  border: 1px solid #b3b3b3;
  opacity: 0.5;
  width: 100%;
}

#email button {
  padding-block: 13px;
  /* padding-inline: 2%; */
  background-color: #e50914;
  border-radius: 5px;
  border: none;
  width: 90%;
}

#email button a {
  color: white;
  text-decoration: none;
  font-size: 100%;
}

#hero-watch {
  margin-inline: 35%;
}

#hero-ready {
  margin-inline: 20%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10%;
}

#button1 {
  padding-inline: 15px;
  padding-block: 10px;
  border-radius: 7px;
  background-color: #e50914;
  border: none;
}

#button1 a {
  color: white;
  text-decoration: none;
  width: 100%;
}

.enjoy-div1 {
  background-color: black;


}

.enjoy-div {
  width: 95%;
  margin-inline: auto;
  /* border: medium solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 2em; */
}

.enjoy-tv {
  /* border: medium solid red; */
  width: 50%;
}

.enjoy-tv-video {
  /* border: medium solid blue; */
  width: 50%;
}

.enjoy-div h1 {
  color: white;
  font-size: 3em;
}

.enjoy-div p {
  color: white;
  font-size: 1.5em;
}

.breaking-div {
  background-color: #232323;
  height: 12px;
}

.download-div1{
    background-color: black;
}

.download-img{
    /* border: medium solid blue; */
    width: 50%;
}

.download-text{
    /* border: medium solid red; */
    width: 50%;
}

.download-div {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap:2em; */
  /* border: medium solid green; */
  width: 95%;
  margin-inline: auto;
}

.download-div h1 {
  color: white;
  font-size: 3em;
}

.download-div p {
  color: white;
  font-size: 1.5em;
}

.watch-div {
  background-color: black;
  display: flex;
  justify-content: space-between;
  
  /* grid-template-columns: 1fr 1fr; */
  padding-inline: 20%;
  align-items: center;
  padding-block: 5%;
}

.watch-div h1 {
  color: white;
  font-size: 3em;
}

.watch-div p {
  color: white;
  font-size: 1.5em;
}

.watch-watch{
    width: 50%;
}

.watch-empty{
    width: 50%;
}

.profiles-div1{
    background-color: black;
}

.profiles-img{
    /* border: medium solid red; */
    width: 50%;
}

.profiles-create{
    /* border: medium solid green; */
    width: 50%;
}

.profiles-div {
  background-color: black;
  width: 95%;
  margin-inline: auto;
  /* border: medium solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 2em; */
  align-items: center;
  padding-block: 9%;
}

.profiles-div h1 {
  color: white;
  font-size: 3em;
}

.profiles-div p {
  color: white;
  font-size: 1.5em;
}

.contact-div {
  background-color: black;
  padding-inline: 10%;
  padding-block: 70px;
}

.contact-div a {
  color: #b3b3b3;
}

.contact-div ul {
  list-style: none;
}

.contact-div li {
  line-height: 2em;
}

.contact-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#faq {
  width: 50%;
  margin-inline: auto;
  color: white;
}

.faq-div {
  padding-block: 50px;
  background-color: black;
}

.faqfaq {
  width: 75%;
  margin-inline: auto;

}

#email2 {
  margin-inline: 23%;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 1em;
  align-items: center;
}

#email2 input {
  padding-block: 15px;
  padding-inline: 20%;
  border-radius: 5px;
  background-color: black;
  border: 1px solid #b3b3b3;
  opacity: 0.5;
  width: 100%;
  /* opacity: 0.5; */
}

#email2 button {
  padding-block: 13px;
  /* padding-inline: 2%; */
  background-color: #e50914;
  border-radius: 5px;
  border: none;
  width: 90%;
}

#email2 button a {
  color: white;
  text-decoration: none;
  font-size: 100%;
}

select {
  padding: 10px;
  margin-inline: 3%;
  background-color: black;
  color: white;
}
/* select option a{
  color: white;
} */

#button1:hover {
  background-color: #c6222a;
}

#email button:hover {
  background-color: #c6222a;
}

#email2 button:hover {
  background-color: #c6222a;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
    background-color: white;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
  .accordion-button::after {
    transition: all 0.5s;
  }
